# .env.example - Environment variables required

# SchemaVaults Auth/Apps Configuration
SCHEMAVAULTS_CLIENT_APP_ID="00000000-0000-0000-0000-000000000000"
SCHEMAVAULTS_API_SERVER_ID="00000000-0000-0000-0000-000000000000"
SCHEMAVAULTS_AUTH_SERVER_URL="https://auth.schemavaults.com"
SCHEMAVAULTS_APP_ENVIRONMENT="production"
SCHEMAVAULTS_AUTH_JWKS_ACCESS_PRIVATE_KEY=""

# Database Credentials
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# mould:if deployment == vercel
# Vercel Deployment Configuration
VERCEL_PROJECT_ID=""
VERCEL_ORG_ID=""
VERCEL_TOKEN=""
# mould:endif
